.bg-header {
    background: plum;
    height: 50px;
    text-align: center;
}

.bg-footer {
    background: purple;
    text-align: center;
    height: 50px;
}

.content-body {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    font-family: sans-serif;
    height: auto;
}

h3 {
    padding: 15px;
    font-family: sans-serif;
}